body {
  background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
}

.App{
  height: 100vh;
  display: flex;
}

.Container{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  color: white;
  font-size: 28px;
  font-weight: 600;
}